/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.blue {
    color: hsl(217, 74%, 39%);
}
.green {
    color: hsl(133, 74%, 39%);
}
.yellow {
    color: hsl(42, 74%, 51%);
}
.red {
    color: hsl(0, 74%, 39%);
}

.back_blue {
	background-color: hsl(217, 74%, 39%);
}
.back_green{
	background-color: hsl(133, 74%, 39%);
}
.back_yellow {
	background-color: hsl(42, 74%, 51%);
}
.back_red {
	background-color: hsl(0, 74%, 39%);
}

.span1 {
	width: 19.875em;
}
.span2 {
	width: 41.25em;
}

body {
	background: url('../img/pattern-stroke.png') repeat;
}


header, #blog-masonry {
	width: 62.875em;
	margin: 0 auto;
}

/* Header */

header {
	position: fixed;
	left: 50%;
	margin-left: -31.4375em;
	height: 5em;
	z-index: 99;
}

header h1
{
	position: relative;
	top: -0.8em;
    font-family: 'BallparkWeiner', serif;
    font-size: 5em;
    font-weight: normal;
}
header h1 a, header h1 a:visited
{
	display: inline-block;
	color: #aaa;
    text-shadow: 0 0 1px #000, 10px 3px 10px #000;
	text-decoration: none;
	transition: all .5s;
		-webkit-transition: all .5s;  
			-moz-transition: all .5s;  
				-o-transition: all .5s;  
					-ms-transition: all .5s; 
	transform: rotateZ(-5deg);
		-webkit-transform: rotateZ(-5deg);
			-moz-transform: rotateZ(-5deg);
				-ms-transform: rotate(-5deg);
					-o-transform: rotate(-5deg);
}
header h1 a:hover
{
    transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
			-moz-transform: rotateZ(0deg);
				-ms-transform: rotate(0deg);
					-o-transform: rotate(0deg);
}
header h1 a:before, header h1 a:after {
	content: "";
	display: inline-block;
	position: relative;
	left: 0.4em;
	top: -0.6em;
	height: 1em;
	border-radius: 5px;
	border-right: 2px solid #999;
	border-bottom: 3px solid #000;
	z-index: 1000;
	transition: all .5s;
		-webkit-transition: all .5s;  
			-moz-transition: all .5s;  
				-o-transition: all .5s;  
					-ms-transition: all .5s; 
	transform: rotateZ(5deg);
		-webkit-transform: rotateZ(5deg);
			-moz-transform: rotateZ(5deg);
				-ms-transform: rotate(5deg);
					-o-transform: rotate(5deg);
}
header h1 a:after {
	left: -0.1em;
	top: -0.4em;
}
header h1 a:hover:before, header h1 a:hover:after {
	transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
			-moz-transform: rotateZ(0deg);
				-ms-transform: rotate(0deg);
					-o-transform: rotate(0deg);
	left: 0.37em;
}
header h1 a:hover:after {
	left: -0.13em;
}
/* Navigation */

#top_menu
{
	position: relative;
	top: -15em;
	float: right;
}

#top_menu ul
{
    list-style-type: none;
}

#top_menu li
{
    margin-right: -2em;
	border: 1px solid white;
    border-radius: 5px;
	padding: 5px;
	float: right;
    box-shadow: 10px 3px 10px #000;
	transform:scale(0.9) rotateZ(-25deg);
		-webkit-transform:scale(0.9) rotateZ(-25deg);
			-moz-transform:scale(0.9) rotateZ(-25deg);
				-ms-transform:scale(0.9) rotate(-25deg);
					-o-transform:scale(0.9) rotate(-25deg);
	transition:all .25s;
		-webkit-transition:all .25s;
			-moz-transition:all .25s;
				-ms-transition:all .25s;
					-o-transition:all .25s;
	width: 8.5em;
	text-align: left;
}

#top_menu a
{
    font-size: 1.5em;
    padding-bottom: 3px;
    text-decoration: none;
	color: #fff;
}

#top_menu li:hover
{
	-webkit-transform:rotateZ(-25deg) scale(1);
	-moz-transform:rotateZ(-25deg) scale(1);
    -ms-transform:rotate(-25deg) scale(1);
    -o-transform:rotate(-25deg) scale(1);
    transform:rotateZ(-25deg) scale(1);
    box-shadow: 10px 6px 10px rgba(0,0,0,0.7);
}

header + section {
	position: relative;
	top: 8em;
}
   
article {
	background: #fff;
	margin: 0 auto;
	border: 1px hsl(217, 74%, 39%) solid;
	float: left;
	margin-bottom: 20px;
	border-radius: 5px 5px 0 5px;
	background: #fff;
	text-align: justify;
}
article::after {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 3%;
	width: 95%;
	height: 85%;
	float: right;
	z-index: -9;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 10px 10px rgba(0,0,0,0.7);
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}
article > div {
	padding: 15px;
}
article p {
	font-size: 0.85em;
	margin: 20px 0;
	line-height: 1.5em;
	word-spacing: -0.1em;
}
article h1 {
	font-size: 1.5em;
	margin: 0px;
	letter-spacing: .02em;
	text-transform: uppercase;
}
article img {
	display: inline-block;
	border: 4px hsl(217, 50%, 70%) solid;
	margin: 20px 0 0 0;
}
article time {
	font-size: 0.7em;
	color: hsl(217, 50%, 70%);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
