/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.blue {
    color: #1a51ac;
}
.green {
    color: #1bac3a;
}
.yellow {
    color: #e4aa21;
}
.red {
	color: #b00000;
}

.back_blue {
	background-color: #1a51ac;
}
.back_green{
	background-color: #1bac3a;
}
.back_yellow {
	background-color: #e4aa21;
}
.back_red {
	background-color: #b00000;
}

.span1 {
	width: 320px;
}
.span2 {
	width: 660px;
}

body {
	background: url('../img/pattern-stroke.png') repeat;
}

/* Header */

header {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	height: 110px;
	z-index: 1000;
	background: linear-gradient(to bottom, rgba(34,34,34,1) 0%,rgba(34,34,34, 0.6) 70%,rgba(34,34,34, 0) 100%); /* W3C */
		background: -moz-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(34,34,34, 0.6) 70%, rgba(34,34,34, 0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,34,34,1)), color-stop(70%,rgba(34,34,34, 0.6)), color-stop(100%,rgba(34,34,34, 0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34, 0.6) 70%,rgba(34,34,34, 0) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34, 0.6) 70%,rgba(34,34,34, 0) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top, rgba(34,34,34,1) 0%,rgba(34,34,34, 0.6) 70%,rgba(34,34,34, 0) 100%); /* IE10+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(34,34,34, 1)', endColorstr='rgba(34,34,34, 0)',GradientType=0 ); /* IE6-9 */
}

header h1
{
	position: relative;
	top: -0.7em;
	left: 0.5em;
    font-family: 'BallparkWeiner', serif;
    font-size: 5em;
    font-weight: normal;
	color: #71AFCE;
}

header h1 a, header h1 a:visited
{
	color: #000;
	text-shadow: 0px 0px 2px white;
	text-decoration: none;
		transition: color 0.5s ease;
			-webkit-transition: color 0.5s ease;  
				-moz-transition: color 0.5s ease;  
					-o-transition: color 0.5s ease;  
						-ms-transition: color 0.5s ease;  
}
header h1 a:hover
{
	color: #eee;
}

/* Navigation */

#top_menu
{
	width: 750px;
	position: relative;
	top: -14em;
	margin: auto;
}

#top_menu ul
{
    list-style-type: none;
}

#top_menu li
{
    margin-right: -60px;
	border: 1px solid white;
    border-radius: 5px;
	padding: 5px;
	float: right;
	transform:scale(0.9) rotateZ(-25deg);
		-webkit-transform:scale(0.9) rotateZ(-25deg);
			-moz-transform:scale(0.9) rotateZ(-25deg);
				-ms-transform:scale(0.9) rotate(-25deg);
					-o-transform:scale(0.9) rotate(-25deg);
	transition:all .25s;
		-webkit-transition:all .25s;
			-moz-transition:all .25s;
				-ms-transition:all .25s;
					-o-transition:all .25s;
	width: 200px;
	text-align: left;
}

#top_menu a
{
    font-size: 1.5em;
    padding-bottom: 3px;
    text-decoration: none;
	color: #fff;
}

#top_menu li:hover
{
	-webkit-transform:rotateZ(-25deg) scale(1);
	-moz-transform:rotateZ(-25deg) scale(1);
    -ms-transform:rotate(-25deg) scale(1);
    -o-transform:rotate(-25deg) scale(1);
    transform:rotateZ(-25deg) scale(1);
}

header + section {
	position: relative;
	top: 150px;
}

#blog-masonry {
	width: 1006px;
	margin: 0 auto;
	border: 1px red solid;
}
   
#blog-masonry article {
	background: #fff;
	margin: 0 auto;
	border: 1px black solid;
	float: left;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #111;
}
#blog-masonry article > div {
	padding: 10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
